/* insert css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset ends */


/* ROOT STYLING */


html {
     font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	background-color: #aad4cf;
	margin: 0;
	padding: 0;
	line-height: 1.4;
}

/* use color #d3e7e5 for wrapper */
.wrapper {
	background-color: #d3e7e5;
	width: 904px;
	margin: auto;
}


/* HEADER STYLING */


header {
	position: relative;
	width: 904px;
	margin: 0 auto;
	text-align: center;
}

header img {
	width: 100%;
	height: auto;
}

header h1 {
	color: white;
    font-size: 4rem;
	margin: 0;
	position: absolute;
	z-index: 9;
	transform: translateX(-50%);
	top: 150px;
	left: 452px
}

nav li {
	font-size: 1.5rem;
	text-transform: uppercase;
	display: inline-block;
	border-right: 1px solid black;
	width: 290px;
	text-align: center;
}

nav li:last-child {
	border-right: none;
}

/* remember to fix the font weight, it's not showing up */

/* future me: I believe the used font family only has font weights set at 300, 500, 700, 900 etc. So don't use font weights higher than 600 in order to keep similarity to mockup */

nav a {
	font-weight: 500;
	color: black;
	text-decoration: none;
}


/* MAIN - ARTICLE (STORY) SECTION STYLING */


main {
	margin: 20px 0;
	padding: 10px;
}

main h2 {
	font-size: 2rem;
	font-weight: 400;
}

main img {
	width: 220px;
	height: auto;
	float: left;
	margin: 1rem; 
	margin-left: 0;
}

article p {
	margin: 1rem;
	margin-left: 0;
}

/* use font weight 600 for paragraph and other body text  */

.article-paragraph {
	font-weight: 600;
}

main h3 {
	font-size: 1.5rem;
	margin: 1rem;
	margin-left: 0;
}

article#starfishstory ul.facts-list-styling {
	font-weight: 600;
	line-height: 1;
	list-style-type: disc;
	margin-left: 20px;
}


/* MAIN - CONTACT INFO STYLING */


.form-info-styling {
	font-weight: 600;
}

.form-padding {
	padding: 15px;
}

form.form-info-styling fieldset{
	border: 1px solid black;
}

/* don't display legend for form fieldset  */

form.form-info-styling fieldset legend {
	display: none;
}

.hfour {
	font-size: 1.2rem;
}

form.form-info-styling label {
	display: block;
}

/* to fix the "radio" options taking on the block display from previous code, add classes to the labels and inputs, for better specificity */
form.form-info-styling .radio-input, form.form-info-styling .radio-label {
    display: inline-block;
}

form.form-info-styling .text-input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

form.form-info-styling .textarea-input {
	height: 100px;
}

form.form-info-styling .textarea-input {
	resize: none;
}
form.form-info-styling button {
	padding: 10px;
	text-transform: uppercase;
	background-color: #d3e7e5;
}


/* FOOTER STYLING */


footer {
	padding: 20px;
}

.footer-styling {
	font-weight: 600;
	text-align: right;
}